.p6o-selection-card.p6o-prosodic-convergence-selection-card.p6o-selection-itemcard {

  header {
    justify-content:space-between;
    align-items:flex-start;
  }

  h1, h2 {
    color:#fff;
  }

  h1 {
    font-size:18px;
  }

  h2 {
    font-size: 16px;
    font-weight: normal;
  }

  h3 {
    margin:0;
    padding:0;
  }

  main {
    padding:10px;
  }

  table {
    width:100%;

    td {
      background-color: #e9e9e9;
      padding: 6px 10px;
      font-size: 13px;
    }

    td:first-child {
      @include rounded-corners-left(2px);
    }

    td:last-child {
      text-align:right;
      @include rounded-corners-right(2px);
    }

  }

  .p6o-selection-audio {

    svg {
      font-size:22px;
      vertical-align:middle;
      padding:0 3px 3px 0;
    }

    button {
      color:#626262;
      font-size:15px;
    }

  }

  .p6o-selection-audio.disabled {
    color:#9f9f9f;
    font-size:15px;
  }

}