@import './controls/Controls';

.p6o-map-container {
  position:relative;
  height:100vh;
  transition:all;

  .p6o-map-hover {
    position:absolute;
    background-color:#fff;
    padding:10px 12px;
    max-width:500px;
    border-left:6px solid #c3c3c3;
    @include rounded-corners(2px);
    @include box-shadow(2px, 2px, 14px, 0.4);
  }

}

.p6o-map-container.hover * {
  cursor:pointer;
}

.p6o-map-container.loading {
  filter:blur(10px) grayscale(100%) contrast(0.8); // contrast(1.4);

  .p6o-hud {
    display:none;
  }

}

.mapboxgl-popup-tip, .maplibregl-popup-tip {
  border-width:14px;
}

.maplibregl-popup.maplibregl-popup-anchor-top,
.maplibregl-popup.maplibregl-popup-anchor-top-right,
.maplibregl-popup.maplibregl-popup-anchor-top-left {
  
  .maplibregl-popup-tip {
    position:relative;
    top:3px;
    border-bottom-color: #0095ff;
  }

}

.maplibregl-popup.maplibregl-popup-anchor-left {
  
  .maplibregl-popup-tip {
    position:relative;
    left:2px;
  }

}

.maplibregl-popup.maplibregl-popup-anchor-right {
  
  .maplibregl-popup-tip {
    position:relative;
    left:-2px;
  }

}

.maplibregl-popup.maplibregl-popup-anchor-bottom,
.maplibregl-popup.maplibregl-popup-anchor-bottom-right,
.maplibregl-popup.maplibregl-popup-anchor-bottom-left {
  
  .maplibregl-popup-tip {
    position:relative;
    top:-3px;
    border-top-color: #f7f7f7;
  }

}

.p6o-map-container .maplibregl-popup {
  max-width:none !important;
  z-index:1;

  .maplibregl-popup-content {
    padding:0;
    margin:0;
    box-shadow:none;
  } 
 
}

.p6o-off-the-map-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.p6o-off-the-map {
  background-color: rgba(255, 255, 255, 0.6);
  outline: none;
  border: none;
  font-size: 14px;
  color: rgba(51, 51, 51, 0.6);
  transition: all 0.2s ease-in-out;
  @include rounded-corners(3px);

  span {
    display: inline-block;
    padding: 20px;
  }

  .caption {
    font-weight: bold;
  }

  .num-records {
    border-left: 1px solid #0000000f;
  }
}

.p6o-off-the-map:hover {
  background-color: #fff;
  color: rgba(51, 51, 51, 1);
  @include box-shadow(0, 0, 4px, 0.25);
}