@import './Timeline';
@import './selection/AudioListCard';
@import './selection/ProsodicConvergenceCard';

.p6o-hud-prosodic-convergence {
  color:#3e3e3e;

  .p6o-hud-permanent {
    position:absolute;
    top:20px;
    left:40px;

    .p6o-hud-top {
      position:relative;
      background-color:#fff;
      @include rounded-corners(3px);
      @include box-shadow(0, 0, 4px, 0.25);

      h1 {
        font-size:18px;
        padding:10px 20px 30px 20px;

        svg {
          font-size:24px;
          vertical-align:text-top;
          padding-left:10px;      
        }
        
      }

    }

    .p6o-facets-container { 
      padding:10px 0 0 0;
    }

  }
  
}

.p6o-prosodic-convergence-map-hover {
  white-space:nowrap;

  * {
    vertical-align:text-bottom;
    white-space:nowrap;
  }

  ul {
    margin:0;
    padding:0 0 0 8px,;
    list-style-type:none;
    display:inline-block;
  }

  li {
    display:inline-block;
    margin-right:3px;
    color:#fff;
    padding:1px 8px;
    font-weight:bold;
    @include rounded-corners(3px);
  }



}