@import './Timeline';
@import './selection/AudioListCard';
@import './selection/ProsodicConvergenceCard';

.p6o-hud-prosodic-convergence {
  color:#3e3e3e;

  .p6o-hud-permanent {
    position:absolute;
    top:20px;
    left:40px;

    .p6o-hud-top {
      position:relative;
      background-color:#fff;
      @include rounded-corners(3px);
      @include box-shadow(0, 0, 4px, 0.25);

      h1 {
        font-size:18px;
        padding:10px 20px 30px 20px;

        svg {
          font-size:24px;
          vertical-align:text-top;
          padding-left:10px;      
        }
        
      }

    }

    .p6o-facets-container { 
      padding:10px 0 0 0;
    }

  }

  .p6o-off-the-map-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    
    .p6o-off-the-map {
      background-color: rgba(255, 255, 255, 0.6);
      outline: none;
      border: none;
      font-size: 14px;
      color: rgba(51, 51, 51, 0.6);
      transition: all 0.2s ease-in-out;
      @include rounded-corners(3px);

      span {
        display: inline-block;
        padding: 20px;
      }

      .caption {
        font-weight: bold;
      }

      .num-records {
        border-left: 1px solid #0000000f;
      }
    }

    .p6o-off-the-map:hover {
      background-color: #fff;
      color: rgba(51, 51, 51, 1);
      @include box-shadow(0, 0, 4px, 0.25);
    }

  }
  
}

.p6o-prosodic-convergence-map-hover {
  white-space:nowrap;

  * {
    vertical-align:text-bottom;
    white-space:nowrap;
  }

  ul {
    margin:0;
    padding:0 0 0 8px,;
    list-style-type:none;
    display:inline-block;
  }

  li {
    display:inline-block;
    margin-right:3px;
    color:#fff;
    padding:1px 8px;
    font-weight:bold;
    @include rounded-corners(3px);
  }

}